@import url(./variables.css);

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-bg);
    font-family: 'Indie Flower', cursive;
    overflow: hidden;
    transition: 0.5s;
}

.dark-mode {
    background-color: var(--dark-bg);
    transition: 0.5s;
}

.theme-toggle {
    position: absolute;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cont-bg);
    transition: 0.4s;
    border-radius: 25px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: var(--white);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--color1);
}

input:checked + .slider::before {
    transform: translateX(24px);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--color1);
    background-color: var(--white);
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: var(--color1);
    box-shadow: 0 0 5px var(--box-shadow);
}

.container {
    text-align: center;
    background-color: var(--color2);
    padding: 40px;
    border-radius: 20px;
    border: 3px solid var(--color1);
    box-shadow: 0 8px 20px var(--box-shadow);
    max-width: 400px;
    width: 90%;
}

.header_text {
    font-size: 36px;
    font-weight: bold;
    color: var(--color1);
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px var(--box-shadow);
}

.line {
    border: none;
    height: 2px;
    background-color: var(--color1);
    margin: 20px 0;
}

.gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.discord {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 12px 24px;
    font-size: 20px;
    border: 2px solid var(--color1);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color1);
    color: var(--white);
    font-family: 'Indie Flower', cursive;
    box-shadow: 0 4px 10px var(--box-shadow);
}

.btn:hover {
    background-color: var(--white);
    color: var(--color1);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px var(--box-shadow);
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.btn:disabled:hover {
    background-color: inherit;
    color: inherit;
    transform: none;
}

.btn i {
    font-size: 18px;
}

.btn-login {
    background-color: var(--login-btn-bg-1);
    color: var(--white);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-login:hover {
    background-color: var(--login-btn-bg-2);
    transform: translateY(-3px);
    box-shadow: 0 0 10px var(--login-btn-box-shadow);
    transition: 0.3s ease;
}

.btn-login:focus {
    outline: none;
    box-shadow: 0 0 10px var(--login-btn-box-shadow);
    transition: 0.3s ease;
}

.btn-login:disabled {
    background-color: var(--cont-bg);
    color: var(--white);
    cursor: not-allowed;
    transform: none;
    transition: 0.3s ease;
}

#noButton {
    background-color: var(--color1);
    border-color: var(--color1);
}

#noButton:hover {
    background-color: var(--white);
    color: var(--color1);
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes heartFade {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.5); }
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    transform: translate(-50%, -50%);
    animation: heartFade 1s ease-out forwards;
    background-color: var(--color1);
    border-radius: 50%;
}

.next_to {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: var(--cont-dark-bg);
    z-index: 1000;
}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    text-align: center;
    background-color: var(--color2);
    padding: 40px;
    border-radius: 20px;
    border: 3px solid var(--color1);
    box-shadow: 0 8px 20px var(--box-shadow);
    max-width: 400px;
    width: 90%;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.close_form_btn {
    position: absolute;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 10px;
    font-size: 20px;
    border: 2px solid var(--color1);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color1);
    color: var(--white);
    font-family: 'Indie Flower', cursive;
    box-shadow: 0 4px 10px var(--box-shadow);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(4px);
}

.navbar {
    background-color: transparent;
    padding: 5px;
    transition: 0.3s ease;
}
  
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.3s ease;
}
  
.navbar li {
    display: inline;
    margin: 0 15px;
    transition: 0.3s ease;
}
  
.navbar a {
    color: var(--color1);
    text-shadow: 2px 2px 4px var(--box-shadow);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 14px;
    display: inline-block;
    transition: 0.3s ease;
}
  
.navbar a:hover {
    background-color: var(--white);
    color: var(--color1);
    border-radius: 5px;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px var(--box-shadow);
    transition: 0.3s ease;
}

.warning {
    color: var(--color-red);
    font-weight: bold;
    text-decoration: underline;
}

.about_pfp {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.about_pfp img {
    border-radius: 100px;
}

.button-container {
    box-shadow: 0 6px 10px var(--login-btn-bg-1);
    border-radius: 12px;
    position: relative;
    display: inline-block;
}

.lock-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: var(--dark-bg);
    display: none;
}

.login-form {
    display: none;
    background-color: var(--color2);
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--login-btn-bg-1);
    padding: 30px;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    transition: 0.5s ease;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--login-color-gray);
    transition: 0.5s ease;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border: 1px solid var(--cont-bg);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: 0.5s ease;
}

.login-form input[type="text"]:hover,
.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover {
    border-color: var(--login-input-border);
    transition: 0.5s ease;
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border-color: var(--login-input-border);
    box-shadow: 0 8px 20px var(--login-input-border);
    transition: 0.5s ease;
}

.login-form .btn {
    background-color: var(--login-btn-bg-1);
    color: var(--white);
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.login-form .btn:hover {
    background-color: var(--login-btn-bg-2);
    box-shadow: 0 8px 20px var(--login-input-border);
    transition: 0.3s ease;
}

.login-form .forgot-password {
    margin-top: 10px;
    transition: 0.5s ease;
}

.login-form .forgot-password a {
    color: var(--login-btn-bg-2);
    text-decoration: none;
    font-size: 14px;
    transition: 0.5s ease;
}

.login-form .forgot-password a:hover {
    text-decoration: underline;
    transition: 0.5s ease;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border: 1px solid var(--cont-bg);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--login-input-color);
}

.password-container i:hover {
    color: var(--login-btn-bg-2);
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.social-buttons button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
}

.social-buttons i {
    transition: transform 0.2s ease-in-out;
}

.social-buttons i:hover {
    transform: scale(1.2);
}
